<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/createBlog.css">
</head>

<body>
    <div class="container">
        <h1>
            <%= heading %>
        </h1>
        <% if (locals.Blogs) { %>
            <form id="editForm" method="post" action="/api/Blog/<%=Blogs._id%>">
                <input type="text" name="title" value="<%=Blogs.title %>">
                <input type="text" name="img" value="<%=Blogs.img %>">
                <textarea name="content" rows="10"><%=Blogs.content %></textarea>
                <input type="text" name="author" value="<%=Blogs.author %>">
                <input type="text" name="date" value="<%=Blogs.date %>">
                <button class="full-width" type="submit">
                    <%= submit %>
                </button>
            </form>
            <% } else {%>
                <form id="newPostForm" method="post" action="/Blog">
                    <input type="text" name="title" placeholder="title" required>
                    <input type="text" name="img" placeholder="Img src">
                    <textarea name="content" placeholder="Content" required rows="10"></textarea>
                    <input type="text" name="author" placeholder="Author" required>
                    <input type="text" name="date" placeholder="Today's Date" required>
            
                    <button class="full-width" type="submit">
                        <%= submit %>
                    </button>
                </form>
                <% } %>

    </div>

</body>

</html>