<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Message</title>

    <link rel="stylesheet" href="/css/Admin.css">

</head>

<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Created At</th>
        </tr>
        <% if (locals.datas) { %>

            <% datas.forEach(data=> { %>
                <tr>
                    <td>
                        <%= data._id %>
                    </td>
                    <td>
                        <%= data.name %>
                    </td>
                    <td>
                        <%= data.email %>
                    </td>
                    <td class="breif">
                        <%= data.message %>
                    </td>
                    <td>
                        <%= data.createdAt %>
                    </td>
                    <td>
                        <a class="delete" href="/api/message/delete/<%= data._id %>/?key=123456789">Delete</a>
                    </td>
                </tr>

                <% }); %>
                    <% } %>


    </table>

</body>

</html>